h1, p {
    margin: 0;
    padding: 0;
}

#title-simulator {
    width: 940px;
    margin: auto;
}
#simulator {
    background-color: red;
    width: 940px;
    height: 900px;
    margin: auto;
    /* flex layout */
    display: flex;
    flex-direction: row;
}

/*===== インプットエリア =====*/
#input-area {
    background-color: blue;
    width: 440px;
    height: 900px;
}
#controller {
    background-color: white;
    width: 440px;
    height: 100px;
}
.controller-list {
    margin: 0;
    padding: 0;
    list-style: none;
    /* flex layout */            
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 5px;
}
.controller-item1 {
    margin-top: 10px;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 4;
}
.controller-item2,
.controller-item3,
.controller-item4 {
    margin: auto;
    padding: 0;
}
/* セレクトリスト */
.select {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
}
/* ボタン */
.btn {
    height: 30px;
    width: 140px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #219ebc;
    border-width: 0px;
    border-radius: 10px;
}
.btn:hover {
    background-color: #ffffff;
    border-color: #219ebc;
    border-width: 1px;
    color: #219ebc;
}
/* スコアエリア */
#score {
    background-color: white;
    width: 440px;
    height: 800px;
}
#output-area {
    background-color: white;
    width: 500px;
    height: 900px;
   /* flex layout */
   display: flex;
   flex-direction: column;            
}

/* スコアテーブル */
.table {
    border-collapse: collapse;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.function {
    text-align: left;
    text-indent: 5px;
    cursor: pointer;
}

.indicator {
    text-align: left;
    text-indent: 15px;
    cursor: pointer;
    display: none;
}

thead {
    color: white;
    background-color:#219ebc;
}

.Ec {
    background-color:rgba(189,178,255,1);    
}
.Re {
    background-color:rgba(160,196,255,1); 
}
.Cu {
    background-color:rgba(255,198,255,1);
}
.Li {
    background-color:rgba(155,246,255,1);
}
.En {
    background-color:rgba(202,255,191,1);
}
.Ac {
    background-color:rgba(255,214,165,1);
}

td {
    width: 100px;
    text-align: center;
    text-indent: 0px;
    background-color:#219ebc;
}

.th_Ec {
    background-color:rgba(189,178,255,0.5);
    text-align: left;
    font-size: 12px;
}
.th_Re {
    background-color:rgba(160,196,255,0.5);
    text-align: left;
    font-size: 12px;
}
.th_Cu {
    background-color:rgba(255,198,255,0.5);
    text-align: left;
    font-size: 12px;
}
.th_Li {
    background-color:rgba(155,246,255,0.5);
    text-align: left;
    font-size: 12px;
}
.th_En {
    background-color:rgba(202,255,191,0.5);
    text-align: left;
    font-size: 12px;
}
.th_Ac {
    background-color:rgba(255,214,165,0.5);
    text-align: left;
    font-size: 12px;
}

.td_Ec {
    background-color: rgba(189,178,255,.3);
    font-size: 12px;
}
.td_Re {
    background-color: rgba(160,196,255,.3);
    font-size: 12px;
}
.td_Cu {
    background-color: rgba(255,198,255,.3);
    font-size: 12px;
}
.td_Li {
    background-color: rgba(155,246,255,.3);
    font-size: 12px;
}
.td_En {
    background-color: rgba(202,255,191,.3);
    font-size: 12px;
}
.td_Ac {
    background-color: rgba(255,214,165,.3);
    font-size: 12px;
}
.inputTable {
    border:none; 
    margin: auto;
    width: 100px; 
    text-align: center; 
    background-color: transparent;
}
.active {
    background-color:rgba(0,0,0,.3);
    color: white;
}

/*====== アウトプットエリア =====*/
/* 凡例 */
#legend {
    background-color: white;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.legend-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
   /* flex layout */
   display: grid;
   grid-template-columns: 1fr 1fr;
}
/*リストの各要素に前要素として■を付ける*/
.legend-list li:before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}
/*リストの各要素の前要素のデザインを設定*/
.Ec_legend:before {
    background:rgba(189,178,255,1);
    border-radius:10;
}
.Re_legend:before {
    background:rgba(160,196,255,1);
    border-radius:10;
}
.Cu_legend:before {
    background:rgba(255,198,255,1);
    border-radius:10;
}
.Li_legend:before {
    background:rgba(155,246,255,1);
    border-radius:10;
}
.En_legend:before {
    background:rgba(202,255,191,1);
    border-radius:10;
}
.Ac_legend:before {
    background:rgba(255,214,165,1);
    border-radius:10;
}

/* 積み上げ横棒グラフ */
#chart {
    background-color:orange;
    width: 500px;
    height: 800px;
}

/*===== レスポンシブデザイン =====*/
@media (max-width:800px) { 
    #title-simulator {
        width: 100%;
    }
    #simulator {
        width: 100%;
        height: 1200px;
        margin: auto;
        /* flex layout */
        display: flex;
        flex-direction: column;
    }
    #input-area {
        width: 100%;
        height: 50%;
    }
    #controller {
        width: 100%;
        height: 15%;
    }
    .controller-list {
        row-gap: 0px;
    }
    .select {
        width: 100%;
    }
    .btn {
        width: 100px;
    }
    #score {
        width: 100%;
        height: 85%;
    }
    #output-area{
        width: 100%;
        height: 50%;
    }
    #legend {
        width: 100%;
        height: 15%;
    }
    .legend-list {
        font-size: 12px;
    }
}